# Database configuration
# For local development, you can use SQLite, but for production (Railway), use PostgreSQL
DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/mydb?schema=public"

JWT_SECRET="gh-dutos-secret-2026"
APP_URL="http://localhost:3000"
